body     { background-color: #778899;
           min-width: 200px; 
           margin: 20px; 
           font-size: small;
           font-family: 'Muli', sans-serif; 
         }
.wrapper { padding-top: 4px;
           border: 1px solid #ccc;
     	   width: 600px;
 	   position: absolute;
 	   top:20;
	   bottom: 20;
	   left: 0;
	   right: 0;
	   margin: auto;
	   padding-left: 15px;
	   padding-right: 15px;
	   background-color: white;
         }
.banner  { background-color: #e5ebf4; 
 	   padding-top:20px; 
	   border: 1px solid #CCC; 
	   width: 200px; 
           float: right;  
         }
a        { text-decoration: none;  }
a:hover  { text-decoration: underline; }
hr       { border-top: 1px solid #CCC; }
ul       { padding-left: 21px; }
p        { color: dimgray; }
h2       { padding-bottom: 2px;
           padding-left: 5px; 
           color:white; 
           background: linear-gradient(to right,  #778899 ,white); 
         }

