body  { 
  padding: -20px; margin: -20px;
  padding-right: 10px; margin-right: 10px;
	font-family: Source Sans Pro, Roboto, Open Sans, Liberation Sans, DejaVu Sans, Verdana, Helvetica, Arial, sans-serif;
}
pre   { 
	padding: 5px;
	border-left: 1px solid #CC0000;
	background-image: linear-gradient(to right, #EEE, white);
	margin-left: 30px;
	padding: 5px;
}
a { color: #CC0000; text-decoration: none; font-weight: bold; }
a:hover { text-decoration: underline; }

h1,h2,h3,h4    { xmargin-top: 0px; padding-top: 0px; 
	color: #CC0000; 
} 

.admonition       { border: 1px solid #EEE; box-shadow: 2px 2px 3px black; }
.admonition-title { font-weight: bold; 
}
.summary          { 
	padding-left: 20px; padding-right: 10px;
	margin-left:  20px; margin-right:  20px; 
	background-color: #d9faff; 
}
.toc { font-size: small;}
/*
#left {
	width: 200px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding:5px;
}


#right {
	margin-left: 210px;
}
*/

.left  ul {
	padding-left:30px;
}

.parent {
  position: relative;
}

.left {
	background-image: linear-gradient(#DDD, white);
  width: 220px;
  height: 100%; /* To take the full height of the container */
  position: absolute;
  top: 0;
  left: 0;
  padding-left:10px; xpadding-right:10px;
}

.right {
  height: 100%; /* To take the full height of the container */
  margin-left: 250px; /* To avoid overlap with the fixed-width div */
}

